#footer {

    width: 100%;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #363636;
    color: whitesmoke;
    justify-content: space-evenly;


    .copyright {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 3rem;
        width: 100%;
        background-color: #363636;
        // margin-top: 3rem;
    }

    .footer-columns {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;


        .footer-column {
            height: 29%;
            flex-basis: 400px;
            flex-grow: 1;

        }
    }


}