.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.25fr;
  grid-template-areas: "footer___main" "footer___bottom";

  &__main {
    grid-area: footer___main;
  }

  &__bottom {
    grid-area: footer___bottom;
  }
}
