.footer {



    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas: "footer___main""footer___bottom";


    &__main {
        grid-area: footer___main;

    }

    &__bottom {
        width: 100%;
        grid-area: footer___bottom;
    }

}