.footer__main__column {





    border: 1px orange solid;

    &__title {

        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        flex: 1rem 1;

    }

    &__body {
        padding: 1rem;
        color: #fff;


    }





}