#section-6 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.columns {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		height: 100%;

		.col {
			max-width: 50%;

			&-left {
				width: 45%;

				p {
					text-align: center;
					width: 80%;
					margin-bottom: 4vh;
				}

				.ip-cams-button {
					display: flex;
					justify-content: flex-end;
					align-items: flex-start;
					width: 85%;
					height: 100%;

					.a-button {
						margin-right: 1rem;
					}
				}
			}

			&-right {
				width: 50%;
				img {
					margin-top: 5vw;
					width: 80%;
				}
			}
		}
	}

	#triangle-2 {
	}
}
