.layout {
    &--standard {



        display: grid;
        grid-template-columns: 1fr;

        min-height: 100vh;

        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        .header {
            grid-area: header;
            grid-row: 1
        }

        .main {
            grid-area: main;
            // flex-grow: 1;
            // background-color: red;
            grid-row: 2
        }

        .footer {
            grid-area: footer;
            grid-row: 3;

        }
    }
}