@import '../../../../scss/abstracts/placeholders';

.section-layout {

    // width: 100%;
    height: 100%;

    .cols {


        color: #ffffff;

        height: 100%;

        .col-l {
            @extend %flex-center;
            border: 1px solid #f00;

            img {

                width: 80%;

            }

            .col-r {
                @extend %flex-center;
                border: 1px solid #0ff;

                img {

                    width: 80%;
                }
            }
        }
    }
}

.auto-grid {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;

    border: 1px solid #ddd;

}