.section-layout {
  margin-bottom: -10vw;

  .content {
    &__columns {
      display: grid;
      grid-template-areas: "left right";
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100vh;
      background-color: lightcoral;
      align-items: center;
      &__column1 {
        grid-area: left;
        background-color: red;
      }
      &__column2 {
        grid-area: right;
        background-color: blue;
      }
    }
  }
}
