.navbar {

    .top-navbar {
        height: 2rem;
    }

    &.private {
        background-color: black;
    }

    &--public {

        position: fixed;
        top: 2rem;
        left: 0;
        right: 0;
        height: 3rem;
        background-color: black;
        color: white;
        z-index: 999999999999999999999999999999999999999;

    }


}