$navbar--private_bgc: black;
$navbar--public_bgc: black;
$navbar--public_color: white;

.navbar {
	.top-navbar {
		height: 2rem;
	}

	&--private {
		background-color: $navbar--private_bgc;
	}

	&--public {
		position: fixed;
		top: 2rem;
		left: 0;
		right: 0;
		height: 3rem;
		background-color: $navbar--public_bgc;
		color: $navbar--public_color;
	}
}
