#section-5 {
    height: 950px;





    .overlay {
        .wrap {

            .columns {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                height: 100%;

                .col-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    width: 50%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.79);


                    h3 {
                        color: #fff;
                        margin-bottom: 1rem;
                    }

                    p {
                        margin-bottom: 1rem;
                        width: 80%;
                    }

                    img {
                        width: 80%;
                    }
                }
            }


        }
    }
}