#section-5 {






    .overlay {
        .wrap {

            .columns {

                display: flex;
                flex-wrap: wrap;



                background-color: yellow;

                justify-content: flex-start;
                align-items: center;

                height: 100%;
                width: 100%;

                .col {


                    &-left {
                        // width: 50%;
                        // flex-grow: 1;

                        align-self: flex-start;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        max-width: 50%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.79);


                        h3 {
                            color: #fff;
                            margin-bottom: 1rem;
                        }

                        p {
                            margin-bottom: 2rem;
                            width: 80%;
                        }

                        img {
                            width: 70%;
                        }


                    }

                    &-right {
                        width: 50%;
                        flex-grow: 1;
                        background-color: red;


                    }
                }
            }

        }
    }
}