#section-9 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.container {
		margin-top: 10vw;
		display: flex;

		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;

		form {
			background-color: #fff;
			border-radius: 4px;

			width: 60%;
			padding: 3rem;
			display: flex;

			justify-content: center;
			align-items: center;

			input[type="text"] {
				background-color: #fff;
				border: 1px solid #e0e6ea;
				border-radius: 4px;

				font-size: 0.933333em;
				margin: auto auto 0;
				max-width: 100%;
				min-height: 2.625rem;
				min-width: 10rem;

				padding: 0 0.8rem;
				text-indent: 0;
				width: 80%;
				margin: auto 0;
			}
		}

		.a-button {
			min-width: 200px;
			margin: 1rem;
		}
	}
}
