.top-navbar {


    .menu-items {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;

        .menu-item {

            height: 100%;
            margin-right: 1rem;

            .link {
                display: block;
                text-decoration: none;
                color: white;
                border-bottom: 2px transparent;

                transition: 100ms border ease-in-out;

                &:hover {
                    background-color: #fff;
                    color: black;
                    border-bottom: 2px solid black;
                }

                &::after {

                    display: block;
                    content: '';
                    width: 1rem;
                    height: 3px;
                    background-color: black;
                }
            }
        }
    }

    .menu-contacts {
        .menu-contact {
            .link {
                text-decoration: none;
            }
        }
    }
}