.top-navbar {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.25fr 0.5fr 1fr;
    grid-template-areas: "social phone menu";
    width: 95%;
    padding-bottom: .25rem;
    border-bottom: 1px rgba(255, 0, 0, 0.6) solid;
    font-size: .9rem;

    .menu-items {

        grid-area: menu;
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;


        .menu-item {


            margin-right: 1rem;

            .link {
                display: block;
                text-decoration: none;
                color: rgba(216, 216, 216, 1);
                // border-bottom: 1px solid rgba(216, 216, 216, 0.6);

                transition: 100ms border ease-in-out;
                position: relative;


                &:hover {

                    color: #fff;


                    //     border-bottom: 1px solid rgba(216, 216, 216, 1);

                    //     &::after {
                    //         opacity: 1;
                    //     }
                    // }

                    // &::after {
                    //     display: block;
                    //     content: '';

                    //     position: absolute;

                    //     left: 1px;
                    //     height: 1px;
                    //     width: 1rem;
                    //     border-bottom: 1px solid rgba(216, 216, 216, 1);
                }
            }
        }
    }

    .menu-socials {

        grid-area: social;
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;



        .menu-social {


            margin-right: 1rem;

            .link {
                text-decoration: none;
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgba(216, 216, 216, 1);
                height: 100%;
                width: 100%;

                &:hover {

                    color: #fff;
                }
            }
        }
    }

    .phone {
        grid-area: phone;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 100;

        &__icon {
            margin-right: 1rem;
            font-size: .8rem;
        }

        &__number {
            font-size: 1.2rem;
            letter-spacing: 0.2rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .top-navbar {
        display: none;
    }
}