@import '../../../../scss/main';

$top-navbar-background:rgba($primary, .8);
$top-navbar-color:rgba(216, 216, 216, 1);


$top-navbar-background-scrolled:#000;
$top-navbar-color-scrolled:#fff;

$top-navbar-link-color: rgba(216, 216, 216, 1);
$top-navbar-link-color-hover:#fff;

$top-navbar-menu-link-font-size :0.9375rem;
$top-navbar-social-link-font-size :0.9375rem;
$top-navbar-phone-link-font-size :0.9375rem;

.top-navbar {


    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3rem 0.25fr 0.5fr 1fr 3rem;
    grid-template-areas: ". social phone menu .";

    border-bottom: 1px rgba(255, 0, 0, 0.6) solid;


    z-index: 999;
    background: $top-navbar-background;
    color: $top-navbar-color;

    transition: 800ms all;

    .menu-socials {

        grid-area: social;
        list-style-type: none;
        @extend %flex-center;

        .menu-social {


            margin-right: 1rem;


            .link {
                @extend %flex-center;
                font-size: $top-navbar-social-link-font-size;

                color: $top-navbar-link-color;


                &:hover {

                    color: $top-navbar-link-color-hover;
                }
            }
        }
    }

    .menu-items {

        grid-area: menu;
        @extend %flex-center;
        list-style-type: none;



        .menu-item {
            margin-right: 1rem;


            .link {
                @extend %flex-center;
                color: $top-navbar-link-color;
                font-size: $top-navbar-menu-link-font-size;
                transition: 200ms color ease-in-out;

                &:hover {
                    color: $top-navbar-link-color-hover;
                }
            }
        }
    }



    .phones {

        grid-area: phone;
        @extend %flex-center;

        &:hover {
            color: $top-navbar-link-color-hover;
        }

        .phone {


            font-weight: 100;


            font-size: $top-navbar-phone-link-font-size;

            &__number {

                font-size: 1.3rem;
                letter-spacing: 0.1rem;
                color: $top-navbar-link-color;
                @extend %flex-center;
                justify-content: space-between;

                font-family: Roboto;

                &:hover {
                    color: $top-navbar-link-color-hover;
                }

                &__icon {


                    margin-right: 0.3rem;
                    @extend %flex-center;



                }
            }
        }
    }

    &.scrolled {
        background: $top-navbar-background-scrolled;
        color: $top-navbar-color-scrolled;
        display: none;
    }

}

// @media screen and (max-width: 768px) {
//     .top-navbar {
//         display: none;
//     }
// }