.footer__bottom {


    .copyright {

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 3rem;
        color: whitesmoke;
        background-color: #363636;
        // margin-top: 3rem;
    }
}